<footer class="custom-footer">
    <div class="footer-container">
      <h3 class="footer-title">Información</h3>
      <ul class="footer-list">
        <li>
          <a href="#!" class="footer-link">Quiénes somos</a>
        </li>
        <li>
          <a href="#!" class="footer-link">Visión y Misión</a>
        </li>
        <li>
          <a href="#!" class="footer-link">Servicios</a>
        </li>
        <li>
          <a href="#!" class="footer-link">Contáctanos</a>
        </li>
      </ul>
    </div>
  
    <div class="footer-bottom">
      © 2024 Mi Aplicación. Todos los derechos reservados.
    </div>
  </footer>
  